@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
  padding: 0px;
}

a { 
  text-decoration: none;
  color: black;
}

.header, .footer, ul {
  display: flex;
  padding: 0;
}

.header {
  justify-content: space-between;
}


.footer {
  height: 50px;
  justify-content: space-between;
  background-color: lightgray;
  align-items:center;
}

.content {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.left-links li {
  margin-left: 15px;
}
.right-links li {
  margin-right: 15px;
}
